/* Copyright (C) 1997-1998, Ghostgum Software Pty Ltd.  All rights reserved.
  
  This file is part of RedMon.
  
  This program is distributed with NO WARRANTY OF ANY KIND.  No author
  or distributor accepts any responsibility for the consequences of using it,
  or for whether it serves any particular purpose or works at all, unless he
  or she says so in writing.  Refer to the RedMon Free Public Licence 
  (the "Licence") for full details.
  
  Every copy of RedMon must include a copy of the Licence, normally in a 
  plain ASCII text file named LICENCE.  The Licence grants you the right 
  to copy, modify and redistribute RedMon, but only under certain conditions 
  described in the Licence.  Among other things, the Licence requires that 
  the copyright notice and this notice be preserved on all copies.
*/

/* redmon.rc */

#include <windows.h>
#include "redmonrc.h"

STRINGTABLE
BEGIN
        IDS_MONITORNAME, "Port redirigé"
	IDS_TITLE, "RedMon - Moniteur de redirection de port"
#ifdef BETA
	IDS_BETAEXPIRED, "Cette version BETA de RedMon a expiré."
#endif

	IDS_ADDPORT, "Ajouter un port redirigé"
	IDS_NOTUNIQUE, "Le port \042%s\042 existe déjà." 

	IDS_CONFIGPROP, "Propriétés de %s" 
	IDS_CONFIGLOGFILE, "Propriétés du fichier journal %s" 
	IDS_CONFIGUNKNOWN, "Propriétés du port inconnues"
	IDS_HELPFILE, "redmon.hlp"

	/* These help strings must match the help file topic names */
	IDS_HELPADD, "Ajouter un port"
	IDS_HELPCONFIG, "Paramètres du port"
	IDS_HELPLOG, "Propriétés du fichier journal"

	/* These are the show window types */
	IDS_SHOWNORMAL, "Normal"
	IDS_SHOWMIN, "Réduit"
	IDS_SHOWHIDE, "Caché"

	/* Possible output methods */
	IDS_OUTPUTSELF , "Le programme se charge de l'impression"
	IDS_OUTPUTPROMPT, "Demander le nom du fichier"
	IDS_OUTPUTSTDOUT, "Copier la sortie standard vers l'imprimante"
	IDS_OUTPUTFILE, "Copier le fichier temporaire vers l'imprimante"
	IDS_OUTPUTHANDLE, "Copier le tube (pipe) vers l'imprimante"

	/* GetOpenFileName() filters */
	IDS_FILTER_EXE, "Programmes|*.exe;*.com|Tous (*.*)|*.*|"
	IDS_FILTER_TXT, "Documents texte (*.txt)|*.txt|Tous (*.*)|*.*|"
	IDS_FILTER_PROMPT, "Tous (*.*)|*.*|Documents PRN (*.prn)|*.prn|Documents PDF (*.pdf)|*.pdf|Documents PostScript (*.ps)|*.ps|"
END

IDD_ADDPORT DIALOG 48, 32, 192, 74
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ajout d'un port redirigé"
FONT 8, "MS Sans Serif"
{
 LTEXT "Entrez un nom de port :", -1, 6, 6, 180, 10
 EDITTEXT IDC_PORTNAME, 6, 18, 180, 12, ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | WS_CHILD
 DEFPUSHBUTTON "OK", IDOK, 14, 52, 44, 14
 PUSHBUTTON "Annuler", IDCANCEL, 74, 52, 44, 14
 PUSHBUTTON "Aide", IDC_HELPBUTTON, 134, 52, 44, 14
}


IDD_CONFIGPORT DIALOG 48, 32, 296, 195
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configuration du port redirigé"
FONT 8, "MS Sans Serif"
{
 LTEXT "Rediriger ce port vers le programme :", -1, 8, 6, 180, 10
 EDITTEXT IDC_COMMAND, 6, 18, 200, 12, ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | WS_CHILD
 LTEXT "Les arguments pour ce programme sont :", -1, 8, 40, 180, 10
 EDITTEXT IDC_ARGS, 6, 52, 200, 12, ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | WS_CHILD
 LTEXT "Impression :", -1, 8, 83, 36, 8
 COMBOBOX IDC_OUTPUT, 46, 80, 160, 54, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 LTEXT "Imprimante :", IDC_PRINTERTEXT, 8, 103, 37, 10
 COMBOBOX IDC_PRINTER, 46, 100, 160, 64, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 AUTOCHECKBOX "Imprimer les erreurs", IDC_PRINTERROR, 218, 101, 72, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 LTEXT "Lancer :", -1, 8, 123, 36, 8
 COMBOBOX IDC_SHOW, 45, 120, 100, 44, CBS_DROPDOWNLIST | WS_TABSTOP
 CHECKBOX "Exécuter en tant qu'utilisateur", IDC_RUNUSER, 163, 121, 110, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 LTEXT "Délai de fermeture :", -1, 8, 143, 72, 8
 EDITTEXT IDC_DELAY, 83, 141, 24, 12
 LTEXT "secondes", -1, 111, 143, 48, 8
 DEFPUSHBUTTON "OK", IDOK, 16, 172, 44, 14
 PUSHBUTTON "Annuler", IDCANCEL, 76, 172, 44, 14
 PUSHBUTTON "Aide", IDC_HELPBUTTON, 156, 172, 44, 14
 PUSHBUTTON "Fichier journal", IDC_LOGFILE, 224, 172, 50, 14
 PUSHBUTTON "Parcourir", IDC_BROWSE, 224, 17, 50, 14
}

IDD_CONFIGLOG DIALOG 48, 32, 216, 112
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configuration du fichier journal"
FONT 8, "MS Sans Serif"
{
 LTEXT "Ecrire la sortie standard dans le fichier :", IDC_LOGNAMEPROMPT, 8, 31, 180, 10
 EDITTEXT IDC_LOGNAME, 8, 43, 200, 12, ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | WS_CHILD
 AUTOCHECKBOX "Débogage", IDC_LOGDEBUG, 10, 66, 120, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 DEFPUSHBUTTON "OK", IDOK, 15, 90, 44, 14
 PUSHBUTTON "Annuler", IDCANCEL, 75, 90, 44, 14
 PUSHBUTTON "Aide", IDC_HELPBUTTON, 135, 90, 44, 14
 CHECKBOX "Utiliser un fichier journal", IDC_LOGUSE, 10, 12, 120, 12, BS_CHECKBOX | WS_TABSTOP
 PUSHBUTTON "Parcourir", IDC_BROWSE, 157, 12, 50, 14
}

#ifdef UNUSED
/* This is for Windows 95 */
1 VERSIONINFO 
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS_WINDOWS32
FILETYPE VFT_DLL
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "Ghostgum Software Pty Ltd\000"
   VALUE "FileDescription", "DLL du moniteur de redirection de port d'imprimante\000"
   VALUE "FileVersion", "1.20.00\000"
   VALUE "InternalName", "redmon.dll\000"
   VALUE "LegalCopyright", "Copyright \251 Ghostgum Software Pty Ltd. 1997-1998\000"
   VALUE "OriginalFilename", "REDMON\000"
   VALUE "ProductName", "RedMon - Moniteur de redirection de port d'imprimante\000"
   VALUE "ProductVersion", "1.20.00\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 1033, 1252
 }

}
#endif

/* end redmon.rc */
