/* Copyright (C) 1997-2012, Ghostgum Software Pty Ltd.  All rights reserved.
  
  This file is part of RedMon.
  
  This software is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  

  This software is distributed under licence and may not be copied, modified
  or distributed except as expressly authorised under the terms of the
  LICENCE.

*/

/* unredmon.rc */

#include <windows.h>
#include "redmonrc.h"
#include "unredmon.h"

1 ICON "binary\unredmon.ico"

STRINGTABLE
BEGIN
	IDS_MONITORNAME, TEXT("Redirected Port")
	IDS_TITLE, TEXT("RedMon - Redirection Port Monitor")
	IDS_INTRO, TEXT("Do you want to remove the RedMon redirection port monitor?")
	IDS_INUSE, TEXT("Monitor has NOT been removed.\n\
The %s port provided by this monitor is still being used.\n\
Disconnect all printers from this port then delete the port.") 
	IDS_ENUMPORTS_FAILED, TEXT("EnumPorts() failed. Error = %d.")
	IDS_ENUMMONITORS_FAILED, TEXT("EnumMonitors() failed. Error = %d.")
	IDS_NOT_INSTALLED, TEXT("RedMon is not installed.")
	IDS_DELETEMONITOR_FAILED, TEXT("DeleteMonitor() failed. Error = %d.")
	IDS_NOSYSDIR, TEXT("Can't find system directory. Error = %d.")
	IDS_ERROR_DELETE_DLL, TEXT("Can't delete monitor DLL. Error = %d.")
	IDS_ERROR_DELETE_HELP, TEXT("Can't delete monitor help file. Error = %d.")
	IDS_UNINSTALLED, TEXT("RedMon has been removed.")
END

